<form action="" (ngSubmit)="submit(form)" #form="ngForm">
  <div>
    <label for="color">请设置主颜色</label>
    <input type="color" id="color" name="color" [(ngModel)]="color" (ngModelChange)="changeColorPalettes($event)">
  </div>
  <div>
    <button type="submit">生成</button>
  </div>
</form>
<div>
  <div *ngIf="colorPalettesGroup.primary">
    <label for="" class="color-palettes-name">primary</label>
    <div *ngFor="let list of colorPalettesGroup.primary.list;let j=index" style="display: flex;">
      <div class="color__block" [setBackground]="item" *ngFor="let item of list;let i=index"
        [class.position]="i==colorPalettesGroup.primary.index[j]">
      </div>
    </div>
  </div>
  <div *ngIf="colorPalettesGroup.complementary">
    <label for="" class="color-palettes-name">complementary</label>

    <div *ngFor="let list of colorPalettesGroup.complementary.list;let j=index" style="display: flex;">
      <div class="color__block" [setBackground]="item" *ngFor="let item of list;let i=index"
        [class.position]="i==colorPalettesGroup.complementary.index[j]">
      </div>
    </div>
  </div>
  <div *ngIf="colorPalettesGroup.analogous">
    <label for="" class="color-palettes-name">analogous</label>

    <div *ngFor="let list of colorPalettesGroup.analogous.list;let j=index" style="display: flex;">
      <div class="color__block" [setBackground]="item" *ngFor="let item of list;let i=index"
        [class.position]="i==colorPalettesGroup.analogous.index[j]">
      </div>
    </div>
  </div>
  <div *ngIf="colorPalettesGroup.triadic">
    <label for="" class="color-palettes-name">triadic</label>

    <div *ngFor="let list of colorPalettesGroup.triadic.list;let j=index" style="display: flex;">
      <div class="color__block" [setBackground]="item" *ngFor="let item of list;let i=index"
        [class.position]="i==colorPalettesGroup.triadic.index[j]">
      </div>
    </div>
  </div>
</div>
